/* Основные стили для области слайда */
.slide {  
  position: relative; /* Позволяет дочерним элементам (кругам) позиционироваться относительно этой области */
  width: 1200px; /* Ширина области слайда */
  height: 800px; /* Высота области слайда */
  background-color: white; /* Цвет фона области слайда */
  border: none; /* Убираем рамку */
  border-radius: 15px; /* Закругление углов области слайда */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Тень для создания эффекта глубины */
}  

/* Стили для выделенных кругов */
.circle.selected {  
  border: 4px solid red; /* Оконтовка выделенного круга красным цветом */
}  

/* Стили для кнопки добавления кругов */
.button-circle {  
  margin-top: 20px; /* Отступ сверху для кнопки */
  margin-bottom: 20px; /* Отступ снизу для кнопки */
  padding: 20px; /* Внутренние отступы для кнопки */
  font-size: 20px; /* Размер шрифта текста на кнопке */
  width: 300px; /* Ширина кнопки */
  border: none; /* Убираем рамку кнопки */
  border-radius: 25px; /* Закругление углов кнопки */
  background-color: lightskyblue; /* Цвет фона кнопки */
  color: white; /* Цвет текста на кнопке */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень для создания эффекта глубины кнопки */
}  

/* Стили при наведении на кнопку */
.button-circle:hover {  
  background-color: cornflowerblue; /* Изменение цвета фона при наведении курсора на кнопку */
}  

/* Основные стили для контейнера приложения */
.bodyOn {  
  display: flex; /* Используем flexbox для выравнивания элементов внутри контейнера */
  justify-content: center; /* Выравнивание по горизонтали по центру */
  align-items: center; /* Выравнивание по вертикали по центру */
  height: 100vh; /* Высота контейнера равна высоте окна браузера */
  background-color: lightgrey; /* Цвет фона контейнера приложения */
}
